*.swp
/.bundle
/bin
/config/database.yml
/config/deploy.yml
/config/initializers/omniauth.rb
/config/settings.yml
/config/sunspot.yml
/config/users.yml
/config/valid_users.json
/config/invalid_users.json
/db/*.sqlite3
/log
/solr/data
/solr/pids
/tmp
/public/assets
