<p>Добрый день, <%= current_user %></p>
<p><%= link_to 'Изменить профиль', edit_user_registration_path %></p>
<p><%= link_to 'Изменить пароль', edit_user_password_path %></p>
<p><%= link_to 'Выход', destroy_user_session_path %></p>
