app:
  url:              'http://sso.openteam.ru'
  secret:           'SECRET'

mailer:
  sender_email:     'email'
  delivery_method:  'postmark' || 'smtp'
  smtp:
    address:        'localhost'
  postmark:
    api_key:        'KEY'

errors:
  url:              'http://errors.openteam.ru'
  key:              'KEY'

twitter:
  app_key:          'KEY'
  app_secret:       'SECRET'
