production:
  hoptoad:
    api_key:        key
    host:           host
  mailer:
    app_host:       your.production.domain.com
    smtp_address:   smtp.domain.com
    smtp_port:      25
    sender_email:   no-reply@domain.com

development:
  hoptoad:
    api_key:        key
    host:           host
  mailer:
    app_host:       localhost:3000
    smtp_address:   localhost
    smtp_port:      25
    sender_email:   no-reply@localhost
