app:
  url:          http://sso.openteam.ru
  secret:       SECRET

mailer:
  sender_email: email
  delivery_method: 'postmark' || 'smtp'
  smtp:
    address:    localhost
  postmark:
    api_key:    key

errors:
  key:          KEY
  url:          http://errors.openteam.ru
