@import 'compass/utilities'
@import 'compass/css3'

.content
  width: 500px
  +min-height(128px)
  margin: 100px auto 50px
  border: 1px solid #ccc
  +border-radius
  padding: 20px
  +single-box-shadow
  .sign_out
    font-size: 16px
    margin-top: 5px
