<p>Здравствуйте!</p>

<p>Ваш адрес электронной почты <%= @resource.email %> был указан для изменения пароля на сайте <%= "http://#{Settings[:mailer][:app_host]}/" %></p>

<p>Для изменения пароля перейдите по ссылке <%= edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>
  Если Вы не указывали свой адрес электронной почты для изменения пароля, просто не обращайте внимание на это письмо.<br />
  Ваш пароль останется прежним до тех пор, пока Вы не перейдёте по ссылке и не введёте новый.
</p>

<p>
  --<br />
  ESP Single sign-on
</p>
